:root{

    --backgroundGeneral-clear: #F9F9F9;
    --backgroundGeneral-dark: #1E1E1E;

    --text-clear: #1E1E1E;
    --text-dark: #F9F9F9;

    --principalColor-clear: #0077CC;
    --principalColor-dark: #4DA6FF;

    --backgroundCard-clear: #FFFFFF;
    --backgroundCard-dark: #2C2C2C;

    --hoverLinkButton-clear: #005FA3;
    --hoverLinkButton-dark: #66BFFF;

    --borderDivisors-clear: #E0E0E0;
    --borderDivisors-dark: #444444;

}

p{
    color: #797979
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*
    Título
*/

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/*
    Corpo
*/

.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter-semibold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


@import "tailwindcss";

